@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: white;
}

.btn-primary {
 color: white;
 background-color: #2352A1;
}

.btn-primary:hover {
  background-color: #163364;
}

.btn-outline.btn-secondary {
  color: #2352A1;
}

.btn-outline.btn-secondary:hover {
  background-color: #163364;
  color: white;
  border: none;
}

.btn-circle {
  height: 5rem;
  width: 5rem;
}

.menu {
  background-color: white;
}

.tabs-boxed .tab-active:not(.tab-disabled):not([disabled]) {
  background-color: #0F2243;
  color: white;
}

.tabs-boxed .tab-active:not(.tab-disabled):not([disabled]):hover {
  color: white;
}