@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
    background: white;
}

.btn-primary {
 color: white;
 background-color: #2352A1;
}

.btn-primary:hover {
  background-color: #163364;
}

.btn-outline.btn-secondary {
  color: #2352A1;
}

.btn-outline.btn-secondary:hover {
  background-color: #163364;
  color: white;
  border: none;
}

.btn-circle {
  height: 5rem;
  width: 5rem;
}
